.page {
  transform: none !important;
}
.sub-sidebar-wrapper {
  top:4rem !important;
}
.home .footer {
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top:none;
}
