---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
 <div id="gitmentContainer"></div>
 <script>
var gitment = new Gitment({
    owner: 'maicFir',
    repo: 'https://github.com/maicFir/maicFir.github.io',
    oauth: {
        client_id: 'ec2265b5e16b2a898a22',
        client_secret: '2993c4e3be9c272bbf594c1708f92be74596aec5',
    },
});
gitment.render('gitmentContainer');
</script>

</div>

